// TYPOGRAPHY //
$EN_FONT_FAMILY: 'Lucida Grande';
$JA_FONT_FAMILY: 'Hiragino Kaku Gothic Pro';

// HEADINGS //
// suffix-classname, font-size, line-height
$HEADING_SIZE:
  "--size1" 22px 29px,
  "--size2" 18px 23px,
  "--size3" 16px 21px,
  "--size4" 15px 19px,
  "--size5" 13px 17px,
  "--size6" 12px 16px;

// suffix-classname, color
$HEADING_COLOR:
  "__primary1" #FFEA00,
  "__primary2" #fff,
  "__primary3" #7BCDFF,
  "__secondary1" #003354,
  "__secondary2" #006BAC,
  "__secondary3" #DB2E96;

// PARAGPRAH //
// suffix-classname, font-size, line-height
$PARAGRAPH_SIZE:
  "--size1" 15px 21px,
  "--size2" 14px 20px,
  "--size3" 11px 15px,
  "--size4" 8px 11px;

$PARAGRAPH_COLOR:
  "__primary1" #FFF,
  "__primary2" #A8DEFF,
  "__primary3" #48C8FF,
  "__secondary1" #003D63,
  "__secondary2" #00619F,
  "__secondary3" #767676;

.txt-highlight {
  font-family: $EN_FONT_FAMILY;
  font-size: 15px;
  color: #FFEA00;
  line-height: 21px;
  font-weight: 500;
}

.txt-link {
  font-family: $EN_FONT_FAMILY;
  font-size: 15px;
  color: #FFEA00;
  line-height: 21px;
  font-weight: 500;
}

// BUTTONS //
$BTN_PRIMARY_DEFAULT_FONTCOLOR: #fff;
$BTN_PRIMARY_DEFAULT_BORDER: 0;
$BTN_PRIMARY_DEFAULT: linear-gradient(180deg, #FFC933 0%, #F7901D 100%);
$BTN_PRIMARY_HOVER: linear-gradient(180deg, #FFE246 0%, #FFC933 34.95%, #FFB22F 100%);
$BTN_PRIMARY_FOCUSED: linear-gradient(180deg, #F7901D 0%, #FFC933 100%);
$BTN_PRIMARY_DISABLED: linear-gradient(180deg, #FFC933 0%, #F7901D 100%);

$BTN_SECONDARY_DEFAULT_FONTCOLOR: #fff;
$BTN_SECONDARY_DEFAULT_BORDER: 0;
$BTN_SECONDARY_DEFAULT: linear-gradient(180deg, #FA57CC 0%, #F444B8 26.85%, #ED30A3 51.39%, #E51E8D 85.97%, #BB116D 100%);
$BTN_SECONDARY_HOVER: linear-gradient(180deg, #FF5FE7 0%, #FF4BD4 26.85%, #FF32B9 51.39%, #FF1EA2 83.64%, #DD067F 100%);
$BTN_SECONDARY_FOCUSED: linear-gradient(180deg, #C31473 0%, #E51F8E 16.01%, #EF36AA 57.87%, #F154C2 100%);
$BTN_SECONDARY_DISABLED: linear-gradient(180deg, #FA57CC 0.57%, #F444B8 27.16%, #ED30A3 51.89%, #E51E8D 88.16%, #BB116D 100%);

$BTN_TERTIARY_DEFAULT_FONTCOLOR: #fff;
$BTN_TERTIARY_DEFAULT_BORDER: 0;
$BTN_TERTIARY_DEFAULT: linear-gradient(180deg, #4CB2DF 0%, #009FE3 22.74%, #0093D4 50.33%, #0082BA 85.39%, #005F87 100%);
$BTN_TERTIARY_HOVER: linear-gradient(180deg, #25B7F2 0%, #2592C1 100%);
$BTN_TERTIARY_FOCUSED: linear-gradient(180deg, rgba(1, 134, 192, 0) 50%, rgba(1, 134, 192, 0.47) 100%), linear-gradient(180deg, #0186C0 27.08%, #15A4E2 100%);
$BTN_TERTIARY_DISABLED: linear-gradient(180deg, #4CB2DF 0%, #009FE3 22.74%, #0093D4 50.33%, #0082BA 85.39%, #005F87 100%);
