//FONTS
@at-root html:lang(ja) #vjfp {
  h1,h2,h3,h4,h5,h6,p,span,li,a,small{
    font-family: $FONT_FAMILY_JP;
    font-display: optional;
  }
}
@at-root html:lang(en) #vjfp {
  h1,h2,h3,h4,h5,h6,p,span,li,a,small{
    font-family: $FONT_FAMILY_EN;
    font-display: optional;
  }
}

@at-root #vjfp section div.no-container {
  padding: 0;
  background: none;
}

@at-root #vjfp {
  position: relative;
  background: #00a1e5;
  padding-top: 42px;
}

h1 {
  color: $HEADING_COLOR;
  margin: 0;
}
h2 {
  color: $HEADING_COLOR;
  margin: 0;
}
h3 {
  color: $HEADING_COLOR;
  margin: 0;
}

a {
  color: $TEXT_LINK_COLOR;
  text-decoration: none;
}

small,
span,
p {
  color: $TEXT_BASE_COLOR;
}
em {
  font-style: normal;
}

button {
  border: 0;
  min-width: 216px;
  display: block;
  margin: 16px auto;
  font-size: 16px;
}

.btn-primary {
  background: $BTN_PRIMARY_COLOR;
  padding: $BTN_PADDING;
  border-radius: $BTN_BORDER_RADIUS;
  line-height: 19px;
  > a {
    color: $BTN_PRIMARY_TEXT_COLOR;
  }
}

.above-fold-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image-bg {
  overflow: hidden;
  img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

&.active-modal {
  height: calc(100vh - 42px);
}


section {
  padding: 15px;
  position: relative;
  z-index: 1;
  > .container{
    background: $CONTAINER_BG;
    border-radius: $CONTAINER_BORDER_RADIUS;
  }
}

.container .testimonial-wrapper {
  padding: 0 8%;
}

#s-sticky-nav,
#s-welcome {
  .container {
    background: none;
    padding: 0;
  }
}

#s-sticky-nav {
  background: $NAV_BG;
  position: fixed;
  top: 0;
  padding: 15px 10px;
  width: 100%;
  z-index: 2;
  text-align: right;

  small {
    width: 100%;
  }
}

#s-welcome {
  padding: 15px 0;
  position: relative;
  .logo {
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;
  }

  span {
    font-size: 18px;
    line-height: 25px;
  }

  #welcome_wrapper {
    margin-top: 90px;
    text-align: center;
  }
}

#s-about {
  .row {
    justify-content: flex-end;
  }
  .container {
    overflow: hidden;
  }
  #image-wrapper img {
    width: 100%;
    height: auto;
  }
  #text-wrapper {
    padding: 0;
  }
}

#s-games {
  .game-list {
    margin-top: 50px;
    > div {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    ol {
      padding-left: 80px;
      li {
        position: relative;
        padding: 25px 0;
        color: $TEXT_LINK_COLOR;
        font-size: 17px;
        line-height: 24px;
        p {
          margin: 0;
        }
        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    img {
      position: absolute;
      left: -80px;
      top: 50%;
      transform: translate(0, -50%);
      max-width: 60px;
      height: auto;
    }
  }
}

#s-payment {
  #payment-icons {
    background: #fff;
    border-radius: $CONTAINER_BORDER_RADIUS;
    text-align: center;

    img {
      width: auto;
      max-height: 40px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      margin: 20px 10px;
    }
  }
}

#s-testimonials,
#s-testimonials2 {
  .profile-pic {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    margin: 24px auto;

    img {
      width: 130px;
      height: auto;
    }
  }
}

#s-beginners-bonus {
  .row > div {
    margin-bottom: 10px;
    width: 100%;
  }
  .bonus {
    background: #006997;
    border-radius: $CONTAINER_BORDER_RADIUS;
    padding: 30px 10%;
    height: 100%;
    .image-wrapper {
      overflow: hidden;
      img {
        min-width: 250px;
        width: 100%;
        height: auto;
      }
    }
  }
  .guide {
    background: #006997;
    border-radius: $CONTAINER_BORDER_RADIUS;
    padding: 30px 10%;
    height: 100%;
  }
  iframe {
    min-height: 250px;
    margin-bottom: 20px;
  }
}

#s-customer-support {
  .container {
    background-image: linear-gradient(to left,transparent, $CONTAINER_BG),var(--customer-support-background-image);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
  }
}

#s-honourable-mentions {
  .honourable-pods > div {
    padding: 7px;
    width: 100%;
  }
  .box {
    background: $PODS_BG;
    border-radius: $CONTAINER_BORDER_RADIUS;
    box-sizing: border-box;
    height: 100%;
    img {
      width: 100%;
      height: auto;
      min-width: 600px;
    }
  }
}

#s-seo-contents {
  margin-bottom: 30px;
  border-radius: 15px;

  .container {
    background: #0093d4;
    padding: 30px 10%;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #FFEA00;
    margin: 0;
    font-display: optional;
  }
  h1 {
    font-size: 22px;
    margin: 0 0 40px 0;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 15px;
  }
  h5 {
    font-size: 13px;
  }
  h6 {
    font-size: 12px;
  }
  p, ol li, ul li {
    color: #FFF;
    font-size: 15px;
  }
  a {
    color: #FFEA00;
    text-decoration: none;
    border-bottom: 2px dotted #85ceef;
  }
}

#s-other-info {
  background: #f8f8f8;
  text-align: center;

  h2 {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #db2d96;
  }

  ul {
    padding: 0;
  }
  li {
    list-style: none;
    margin: 10px;
    a {
      color: #0093d4;
      text-decoration: none;
    }
  }

  .footer-twitter-button-pure {
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    max-width: 250px;
    box-sizing: border-box;
    background-color: #1b95e0;
    color: #fff;
    font-weight: 500;
    height: auto;
    border-radius: 4px;
    padding: 1px 10px 1px 9px;
    margin-bottom: 5px;
    margin: auto;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 18px;
      height: auto;
    }
  }
}

footer {
  background: #f8f8f8;
  padding: 15px;
  small {
    color: #13021b;
    font-size: 13px;
    line-height: 15.6px;
  }
  .container {
    .footer-icon {
      justify-content: center;
      margin-top: 10px;
      img {
        height: 40px;
        width: auto;
      }
    }
  }
}
