$NAV_BG: #0081b8;
$CONTAINER_BG: #0093d4;
$PODS_BG: #006997;

$HEADING_COLOR: #ffea00;
$TEXT_BASE_COLOR: #fff;
$TEXT_LINK_COLOR: #ffea00;

$BTN_PRIMARY_COLOR: linear-gradient(180deg,#ffc933,#f7901d);
$BTN_PRIMARY_TEXT_COLOR: #402600;
$BTN_PADDING: 15px;
$BTN_BORDER_RADIUS: 8px;
$CONTAINER_BORDER_RADIUS: 16px;

$BASE_PADDING: 50px;

$FONT_FAMILY_EN: 'Lucida Grande';
$FONT_FAMILY_JP: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', 'Sans-serif';
