.material-icons {
  font-family: "Material Icons";
  font-style: normal;
}

button {
  background: $BTN_BG;
  padding: $BTN_PADDING;
  border-radius: $BTN_BORDER_RADIUS;
  border: none;
  width: 100%;
  max-width: 280px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

h1 {
  color: $TITLE_COLOR;
  font-size: $TITLE_SIZE;
}
h3 {
  color: $SUBTITLE_COLOR;
  font-size: $SUBTITLE_SIZE;
}

p, ul li {
  color: $TEXT_COLOR;
  font-size: $TEXT_SIZE;
  line-height: calc($TEXT_SIZE * 1.2);
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px dashed $HIGHLIGHT;
  &:hover {
    color: #fee63d;
  }
}
.highlight {
  color: $HIGHLIGHT;
  font-size: $TEXT_SIZE;
}

section {
  padding: $PADDING 0;
  position: relative;
}

.above-fold-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

#hero {
  overflow: hidden;
  padding: 0;

  #login {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    a {
      color: $TEXT_COLOR;
      text-decoration: none;
    }
    i {
      font-size: $ICON_SIZE;
    }
  }

  .logo {
    max-width: 80px;
    margin: 30px auto 25px;
  }
  #banner-images {
    max-width: 450px;
    img {
      width: 100%;
    }
  }
  #banner-terms {
    margin: 100px auto 45px;
    button {
      margin-bottom: 50px;
    }
  }
}

#details {
  background: $INFOGRAPHICS_BG;
  img{
    width: 100%;
    height: auto;
  }
}
#payment,
#terms {
  background: $BODY_BG;
}
#payment {
  img {
    width: 100%;
  }
}