html:lang(en) {
  h1,h2,h3,h4,h5,h6,p,span,li,a,small{
    font-family: "Lucida Grande";
  }
}

h1 {
  color: $HEADING_COLOR;
  font-size: 54px;
  line-height: 59px;
  margin: 0;
}
h2 {
  color: $HEADING_COLOR;
  font-size: 30px;
  line-height: 23px;
}
h3 {
  color: $HEADING_COLOR;
  font-size: 20px;
  line-height: 26px;
}

a {
  color: $TEXT_LINK_COLOR;
  text-decoration: none;
}

small,
span,
p {
  color: $TEXT_BASE_COLOR;
}

button {
  border: 0;
  min-width: 216px;
}

.btn-primary {
  background: $BTN_PRIMARY_COLOR;
  padding: $BTN_PADDING;
  border-radius: $BTN_BORDER_RADIUS;
  line-height: 19px;
  > a {
    color: $BTN_PRIMARY_TEXT_COLOR;
  }
}

@at-root body {
  padding-top: 48.5px;
}

#s-sticky-nav + *~section {
  padding: 15px 0;
  > .container{
    background: $CONTAINER_BG;
    border-radius: 16px;
    padding: 50px;
  }
}

#s-sticky-nav {
  background: $NAV_BG;
  position: fixed;
  top: 0;
  padding: 15px 0;
  width: 100%;
  z-index: 2;
  text-align: right;

  small {
    width: 100%;
  }
}

#s-welcome {
  background: black;
  padding: 15px 0;
  .logo {
    max-width: 120px;
    max-height: 120px;
    width: 100%;
    height: 100%;
  }

  span {
    font-size: 18px;
    line-height: 25px;
  }

  #welcome_wrapper {
    margin-top: 90px;
    text-align: center;

    button {
      display: block;
      margin: 16px auto;
    }
  }
}

#s-about {
  .row {
    justify-content: flex-end;
  }
  .container {
    overflow: hidden;
  }
  #image-wrapper img {
    width: 100%;
    height: auto;
  }
  #text-wrapper {
    padding: 0;
  }
}

#s-games {
  .game-list {
    ol {
      padding-left: 80px;
      li {
        position: relative;
        padding: 25px 0;
        color: $TEXT_LINK_COLOR;
        font-size: 17px;
        line-height: 24px;
        p {
          margin: 0;
        }
        span {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    img {
      position: absolute;
      left: -80px;
      top: 50%;
      transform: translate(0, -50%);
      max-width: 60px;
      height: auto;
    }
  }
}
