/* Custom, iPhone Retina */
@media only screen and (min-width : 280px) {
	@at-root .vjfp {
		background: #00a1e5;
	}
	#s-sticky-nav + *~section {
		> .container{
			padding: calc(#{$BASE_PADDING - 30px});
		}
	}
	#s-welcome {
		background: var(--main-bg-mobile) no-repeat top #0081b8;
    background-size: cover;
	}
	#s-about {
		.row {
			flex-direction: column-reverse;
		}
		#image-wrapper {
			max-width: 300px;
			margin: 0 auto -50px;
			width: 100%;
			top: 0;
			position: relative;
		}
	}
	#s-games{
		.game-list {
			div:last-child {
				border-top: solid 1px #0076aa;
			}
		}
	}
	#s-payment {
		#payment-icons {
			padding: calc(#{$BASE_PADDING} - 40px);
		}
	}
	#s-honourable-mentions {
		h3 {
			font-size: 30px;
			line-height: 24px;
		}
	}
	#s-honourable-mentions {
		.box {
			padding: 0 calc(#{$BASE_PADDING} - 20px);;
		}
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
	@at-root .vjfp {
    background: var(--main-bg) no-repeat top #00a1e5;
    background-size: contain;
	}
	#s-welcome {
		background: none;
	}
	#s-about {
		.row {
			flex-direction: inherit;
		}
		#image-wrapper {
			position: absolute;
			transform: translateY(0);
			top: 0;
			bottom: 0;
			margin: auto;
			left: -150px;
			min-width: 75%;
		}
		#text-wrapper {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	#s-payment {
		#payment-icons {
			padding: calc(#{$BASE_PADDING} - 20px) $BASE_PADDING;
		}
	}
	#s-honourable-mentions {
		h3 {
			font-size: 30px;
			line-height: 36px;
		}    padding: 0 $BASE_PADDING;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#s-about {
		#image-wrapper {
			transform: translateY(-55px);
			left: -120px;
			min-width: 50%;
			img {
				min-width: 327px;
			}
		}
		#text-wrapper {
			flex: 0 0 60%;
			max-width: 60%;
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#s-sticky-nav + *~section {
		> .container{
			padding: $BASE_PADDING;
		}
	}
	#s-about {
		#image-wrapper {
			left: -135px;
			min-width: 35%;
		}
		#text-wrapper {
			flex: 0 0 75%;
			max-width: 75%;
		}
	}
	#s-games{
		.game-list {
			div:last-child {
				border-left: solid 1px #0076aa;
				border-top: none;
			}
		}
	}
	#s-customer-support{
		#text-wrapper {
			-ms-flex: 0 0 30%;
			flex: 0 0 30%;
			max-width: 30%;
		}
	}
	#s-honourable-mentions {
		.box {
			padding: 0 $BASE_PADDING;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	#s-about {
		#image-wrapper {
			left: -130px;
			min-width: 30%;
		}
	}
}
