$NAV_BG: #0081b8;
$CONTAINER_BG: #0093d4;

$HEADING_COLOR: #ffea00;
$TEXT_BASE_COLOR: #fff;
$TEXT_LINK_COLOR: #ffea00;

$BTN_PRIMARY_COLOR: linear-gradient(180deg,#ffc933,#f7901d);
$BTN_PRIMARY_TEXT_COLOR: #402600;
$BTN_PADDING: 15px;
$BTN_BORDER_RADIUS: 8px;

$BASE_PADDING: 50px;